
.title-margin {
  margin-top: 100px;
}
.image-sitle {
  height: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .card-height {
  height: 545px;
}
 */
@media screen and (max-width: 766px) {
  .title-coler {
    background-color: #f78bbd; /*緑色*/
  }
}
@media screen and (min-width: 767px) { /*ウィンドウ幅が767px以上の場合に適用*/
  .title-coler {
    background-color: #6ab7ff; /*青色*/
  }
}
@media screen and (max-width: 766px) {
  .card-height {
    height: I 269px;
    margin-bottom: 23px;
  }
}
@media screen and (min-width: 767px) { /*ウィンドウ幅が767px以上の場合に適用*/
  .card-height {
    height: 537px;
  }
}
.image-sitle1 {
  height: 256px;
}
.text-card {
  margin-bottom: 10px;
}
.site-header{
  z-index: 1;
  position: fixed; top:-8px;
}



